body {
  margin: 0;
}

.smartwatche-hama {
  font-family: 'Roboto', sans-serif;
}

.smartwatche-hama h2, .smartwatche-hama p {
  padding-left: 4rem;
  padding-right: 1rem;
}

@media (max-width: 767px) {
  .smartwatche-hama h2, .smartwatche-hama p {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.smartwatche-hama p {
  font-size: 1.7vw;
  line-height: 2.1vw;
  font-weight: 300;
}

@media (max-width: 767px) {
  .smartwatche-hama p {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 1350px) {
  .smartwatche-hama p {
    font-size: 20px;
    line-height: 28px;
  }
}

.smartwatche-hama h2 {
  font-weight: 100;
  font-size: 4.2vw;
}

@media (max-width: 767px) {
  .smartwatche-hama h2 {
    font-size: 28px;
  }
}

@media (min-width: 1350px) {
  .smartwatche-hama h2 {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .smartwatche-hama .mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .smartwatche-hama .desktop {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .smartwatche-hama .SMdesktop {
    display: none !important;
  }
}

.smartwatche-hama a {
  text-decoration: none;
}

.smartwatche-hama input[type="submit"] {
  font-size: 20px;
  background: #EF0C39;
  border: none;
  padding: 10px 20px;
}

.smartwatche-hama .container {
  max-width: 1350px;
  margin: 0 auto;
}

.smartwatche-hama * {
  box-sizing: border-box;
}

.smartwatche-hama .row::after {
  content: "";
  clear: both;
  display: table;
}

.smartwatche-hama [class*="col-"] {
  float: left;
}

@media (max-width: 576px) {
  .smartwatche-hama .col-xs-1 {
    width: 8.33%;
  }
  .smartwatche-hama .col-xs-2 {
    width: 16.66%;
  }
  .smartwatche-hama .col-xs-3 {
    width: 25%;
  }
  .smartwatche-hama .col-xs-4 {
    width: 33.33%;
  }
  .smartwatche-hama .col-xs-5 {
    width: 41.66%;
  }
  .smartwatche-hama .col-xs-6 {
    width: 50%;
  }
  .smartwatche-hama .col-xs-7 {
    width: 58.33%;
  }
  .smartwatche-hama .col-xs-8 {
    width: 66.66%;
  }
  .smartwatche-hama .col-xs-9 {
    width: 75%;
  }
  .smartwatche-hama .col-xs-10 {
    width: 83.33%;
  }
  .smartwatche-hama .col-xs-11 {
    width: 91.66%;
  }
  .smartwatche-hama .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .smartwatche-hama .col-sm-1 {
    width: 8.33%;
  }
  .smartwatche-hama .col-sm-2 {
    width: 16.66%;
  }
  .smartwatche-hama .col-sm-3 {
    width: 25%;
  }
  .smartwatche-hama .col-sm-4 {
    width: 33.33%;
  }
  .smartwatche-hama .col-sm-5 {
    width: 41.66%;
  }
  .smartwatche-hama .col-sm-6 {
    width: 50%;
  }
  .smartwatche-hama .col-sm-7 {
    width: 58.33%;
  }
  .smartwatche-hama .col-sm-8 {
    width: 66.66%;
  }
  .smartwatche-hama .col-sm-9 {
    width: 75%;
  }
  .smartwatche-hama .col-sm-10 {
    width: 83.33%;
  }
  .smartwatche-hama .col-sm-11 {
    width: 91.66%;
  }
  .smartwatche-hama .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .smartwatche-hama .col-md-1 {
    width: 8.33%;
  }
  .smartwatche-hama .col-md-2 {
    width: 16.66%;
  }
  .smartwatche-hama .col-md-3 {
    width: 25%;
  }
  .smartwatche-hama .col-md-4 {
    width: 33.33%;
  }
  .smartwatche-hama .col-md-5 {
    width: 41.66%;
  }
  .smartwatche-hama .col-md-6 {
    width: 50%;
  }
  .smartwatche-hama .col-md-7 {
    width: 58.33%;
  }
  .smartwatche-hama .col-md-8 {
    width: 66.66%;
  }
  .smartwatche-hama .col-md-9 {
    width: 75%;
  }
  .smartwatche-hama .col-md-10 {
    width: 83.33%;
  }
  .smartwatche-hama .col-md-11 {
    width: 91.66%;
  }
  .smartwatche-hama .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .smartwatche-hama .col-lg-1 {
    width: 8.33%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-2 {
    width: 16.66%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-3 {
    width: 25%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-4 {
    width: 33.33%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-5 {
    width: 41.66%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-6 {
    width: 50%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-7 {
    width: 58.33%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-8 {
    width: 66.66%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-9 {
    width: 75%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-10 {
    width: 83.33%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-11 {
    width: 91.66%;
    max-width: 1350px;
  }
  .smartwatche-hama .col-lg-12 {
    width: 100%;
    max-width: 1350px;
  }
}

.smartwatche-hama .header {
  display: flex;
  justify-content: start;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

@media (max-width: 767px) {
  .smartwatche-hama .header {
    height: 100px;
    justify-content: center;
    padding-left: 0;
  }
}

.smartwatche-hama .header .logo {
  width: 135px;
}

.smartwatche-hama .slider {
  max-width: 1350px;
  height: auto;
  width: 100%;
  max-height: 670px;
  position: relative;
}

.smartwatche-hama .slider__images-image {
  width: 100%;
}

.smartwatche-hama .slider__images-title {
  position: absolute;
  top: 20%;
  color: #FFFFFF;
  font-weight: 300;
  display: flex;
  align-items: center;
  font-size: 40px;
  width: 60%;
}

@media (max-width: 1350px) {
  .smartwatche-hama .slider__images-title {
    font-size: 4.5vw;
    width: 100%;
  }
}

@media (min-width: 1351px) {
  .smartwatche-hama .slider__images-title {
    font-size: 48px;
    line-height: 63px;
    top: 200px;
  }
}

.smartwatche-hama .slider img {
  max-width: 100%;
  width: 100%;
  max-height: 670px;
}

.smartwatche-hama .slider .slider {
  clear: both;
  padding-bottom: 30px;
}

.smartwatche-hama .nav {
  background-color: #c4002e;
  color: white;
  height: 55vw;
  max-height: 670px;
  padding: 1rem 0;
}

@media (max-width: 767px) {
  .smartwatche-hama .nav {
    height: auto;
    padding: 1rem 0;
  }
}

@media (min-width: 768px) {
  .smartwatche-hama .nav .col-md-2, .smartwatche-hama .nav .col-lg-2 {
    width: 20%;
  }
}

.smartwatche-hama .nav ul {
  padding: 0 75px 0;
}

@media (max-width: 767px) {
  .smartwatche-hama .nav ul {
    padding: 0 30px 0;
  }
}

.smartwatche-hama .nav__images {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.smartwatche-hama .nav__images-image {
  width: 9vw;
  max-width: 125px;
  height: 9vw;
  max-height: 125px;
}

.smartwatche-hama .nav__images-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .smartwatche-hama .nav__images-item {
    padding-bottom: 1rem;
  }
}

.smartwatche-hama .nav__images-title {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .smartwatche-hama .nav__images-title {
    font-size: 12px;
    line-height: 14px;
  }
}

.smartwatche-hama .nav__images p {
  padding: 0 15px;
}

.smartwatche-hama .loader-black {
  background-color: #000;
  color: #FFFFFF;
}

.smartwatche-hama .loader-gray {
  background-color: #F2F2F2;
}

.smartwatche-hama .loader-darkgray {
  background-color: #222222;
  color: white;
}

.smartwatche-hama .loader-red {
  background-color: #c4002e;
  color: white;
}

.smartwatche-hama .loader__content {
  height: 45vw;
  max-height: 670px;
  position: relative;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__content {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__content-photo {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__content img {
    height: 244px;
  }
}

.smartwatche-hama .loader__content-img1 {
  background-image: url(images/1350-Smartwatche/img-4.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__content-img1 {
    background-image: url(images/320-Smartwatche/img-4.png);
  }
}

.smartwatche-hama .loader__content-img2 {
  background-image: url(images/1350-Smartwatche/img-6.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__content-img2 {
    background-image: url(images/320-Smartwatche/img-6.png);
  }
}

.smartwatche-hama .loader .button {
  position: absolute;
  bottom: 3.5rem;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader .button {
    bottom: 2rem;
  }
}

.smartwatche-hama .loader__images {
  height: 45vw;
  max-height: 670px;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__images {
    height: 320px;
  }
}

.smartwatche-hama .loader__images-item {
  display: flex;
  width: 100%;
  height: 45vw;
  max-height: 670px;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__images-item {
    height: 320px;
  }
}

.smartwatche-hama .loader__images-product {
  display: flex;
  margin: 0 auto;
  height: 45vw;
  max-height: 670px;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__images-product {
    height: 320px;
  }
}

.smartwatche-hama .loader__images-icon {
  height: 60%;
  max-width: 100%;
  transform: scale(1) translate(-15%, -15%);
}

@media (min-width: 1350px) {
  .smartwatche-hama .loader__images-icon {
    height: 60%;
    max-width: 500px;
    transform: scale(1.3) translate(0%, -5%);
  }
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__images-icon {
    max-width: 320px;
    height: 100%;
    max-height: 320px;
    display: flex;
    margin: -30px auto 0;
    transform: none;
  }
}

.smartwatche-hama .loader__images-img3 {
  background-image: url(images/1350-Smartwatche/img-7.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .smartwatche-hama .loader__images-img3 {
    background-image: url(images/320-Smartwatche/img-7.png);
  }
}

@media (max-width: 767px) {
  .smartwatche-hama .loader h2 {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}

.smartwatche-hama .contact {
  background-image: url(images/1350-Smartwatche/img-10.png);
  background-size: contain;
  background-position: bottom;
}

@media (max-width: 576px) {
  .smartwatche-hama .contact {
    background-image: none;
  }
}

.smartwatche-hama .contact__content {
  padding: 1rem 10% 6rem 33%;
}

@media (max-width: 576px) {
  .smartwatche-hama .contact__content {
    height: 320px;
    padding: 0 0 3rem;
  }
}

.smartwatche-hama .contact__content-tel {
  display: flex;
}

@media (max-width: 576px) {
  .smartwatche-hama .contact__content-tel {
    margin-top: 2.2rem;
  }
}

.smartwatche-hama .contact__content-tel .icon {
  height: 72px;
  padding: 4px 1rem 4px 4rem;
}

@media (max-width: 767px) {
  .smartwatche-hama .contact__content-tel .icon {
    padding: 0 .8rem 0 30px;
    height: 54px;
  }
}

.smartwatche-hama .contact__content-tel p {
  padding: .3rem 0;
  margin: 0;
}

.smartwatche-hama .contact__content-tel p a {
  margin: 4px;
  padding-left: 0;
  color: #EF0C39;
  text-decoration: none;
}

.smartwatche-hama .contact__content-tel p a:first-child {
  font-size: 30px;
  line-height: 34px;
}

@media (max-width: 767px) {
  .smartwatche-hama .contact__content-tel p a:first-child {
    font-size: 20px;
    line-height: 24px;
  }
}

.smartwatche-hama .contact__content-tel p .gray {
  color: #414141;
  opacity: .9;
}

@media (max-width: 576px) {
  .smartwatche-hama .contact__mobile {
    background-image: url(images/320-Smartwatche/img-10.png);
    background-size: cover;
    height: 100vw;
    max-height: 500px;
    width: 100%;
  }
}
